@import "tailwindcss";


:root {
  --background: #ffffff;
}

@theme {
  --color-background: var(--background);

  --color-primary: #202835;
  --color-accent: #ae7657;
  --color-surface: #f9f8f6;
  --color-secondary: #a5a0a0;

  
  --font-primary: var(--font-poppins);
  --font-headline: var(--font-stack-sans-headline);
}

body {
  background: var(--background);
  color: #202835;

  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}

@utility container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@utility sidebar-container {
  width: 18rem;
  min-width: 18rem;
}
